.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.status .check {
    margin-left: var(--area-small);
    font-size: 1.3em;
    cursor: pointer;
}
